/*
    private final String mainColor = "#0D47A1";
    private final String backgroundColor = "#E3F2FD";
    private final String errorColor = "#D63908";
    private final String inProcessColor = "#10A3E2";
    private final String darkTextColor = "#000000";
    private final String lightTextColor = "#CFD8DC";
    private final String font = "-fx-font-family: Roboto;";

    */


.progress-bar {
    -fx-background-color: #E3F2FD;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-radius: 0, 0, 0, 0;
    -fx-border-color: transparent;  /* цвет рамки вокруг всего бара */
}

.progress-bar .track {
    -fx-background-color: #E3F2FD;
    -fx-border-radius: 5, 5, 5, 5;
    -fx-border-color: #0D47A1;      /* цвет рамки вокруг полосы загрузки */
    -fx-opacity: 0.3;
}

.progress-bar .bar {
    -fx-background-color: #0D47A1;
    -fx-background-radius: 5, 5, 5, 5;
}
