/*
    --main-bg-color:      #E3F2FD;
    --main-color:         #0D47A1;
    --second-color:       #E3F2FD;
    --error-color:        #D63908;
    --in-process-color:   #10A3E2;
    --dark-text-color:    #000000;
    --light-text-color:   #CFD8DC;
*/


.hBox {
    -fx-background-color: #0D47A1;
}

.vBox {
    -fx-background-color: transparent;
}

.button {
    -fx-font-family: "Roboto";
    -fx-base:     #E3F2FD;
    -fx-border-width: 0 0 0 0;
    -fx-font-size: 14px;
    -fx-border-radius: 5, 5, 5, 5;
    -fx-background-radius: 5, 5, 5, 5;
    /*-fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0.25), 2, 2 , 2 , 1 );*/
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0), 0, 0 , 0 , 0 );
}

.text-light
{
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-text-fill: #CFD8DC;
    /*-fx-text-weight: regular;*/
            /*-fx-font-family: "Roboto";*/
            /*-fx-opacity: 1;*/
}

.text-dark
{
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    /*-fx-text-weight: regular;*/
    /*-fx-font-family: "Roboto";*/
    /*-fx-opacity: 0;*/
}

.progress-bar {
    -fx-progress-color: #CFD8DC;
}

.anchorPane {
    -fx-background-color: #FFFFFF;
}

.scrollPane {
    -fx-background-color: #FFFFFF;
    /*-fx-border-color: #000000;*/ /* отобразить границы панели */
}

.flowPane {
    -fx-background-color: #FFFFFF;
    /*-fx-border-color: #D63908;*/ /* отобразить границы панели */
}




.scroll-bar:vertical {      /*вертикальная полоса прокрутки*/
    -fx-background-color: #FFFFFF;  /*фон в самом низу*/
    -fx-font-size: 14;
    -fx-pref-width: 16; /*ширина*/
    -fx-border-width: 0px;
    /*-fx-padding: 3;*/
}


.scroll-bar:horizontal {
    -fx-background-color: #10A3E2;
    -fx-font-size: 14;
    -fx-pref-height: 16; /*высота*/
    /*-fx-padding: 3;*/
}

.scroll-pane > .corner {
    -fx-background-color: #FFFFFF;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {       /*the draggable scrolling handle.*/
    -fx-background-color :#0D47A1;  /* фон под треком */
    -fx-fill-color: #10A3E2;
    -fx-border-color :#0D47A1;
    -fx-background-radius : 2.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :#0D47A1;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :#0D47A1;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0em;
}






.text-field {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
    -fx-border-color: #0D47A1;
    -fx-border-radius: 5, 5, 5, 5;
    -fx-background-radius: 5, 5, 5, 5;
    /*-fx-text-weight: regular;*/
    /*-fx-font-family: "Roboto";*/
    /*-fx-opacity: 1;*/
}

.separator {
}

.checkbox {
        -fx-font-family: "Roboto";
        -fx-font-size: 14px;
        -fx-text-fill: #000000;
        /*-fx-text-weight: regular;*/
        /*-fx-opacity: 1;*/
}